@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

@media (max-width: 800px) {
  .container{
    background-color: rgba(255,255,255,1);
  }
}

.skills-list ul {
  margin-bottom: 20px;
}
.profile-pic {
  -webkit-box-shadow: 3px 3px 5px 4px rgba(0,0,0,.1);
  box-shadow: 3px 3px 5px 4px rgba(0,0,0,.1);
  border: 6px solid white;
  width: 140px;
  height: 140px;
}

.span9 p{
  text-align: justify;
}

body {
    font-family: Helvetica, Source Sans Pro, Open Sans, Helvetica, Arial, sans-serif;
    background-color: #1F1F1F;
    /*background: url("https://media3.giphy.com/media/3o6gDQeSNqf3DlIUbC/giphy.gif") no-repeat top left fixed;*/
    /*background: url("https://media.giphy.com/media/3oEjHImwTUlfR2wBji/giphy.gif") repeat top left fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: 300;
}

.job {
    margin-bottom: 40px;

}

.job h4 {
    font-size: 20px;
}

.container {
    max-width: 700px;
    background-color: rgba(255,255,255,.95);
    padding: 25px 50px;
    margin: 20px auto;
}
.row-fluid {
    border-bottom: 1px solid #dddddd;
}
.span9 {
    padding-top: 10px;
}
article {
    padding: 20px 0;
}
footer {
    text-align: right;
    padding-top: 10px;
}
ul {
    list-style: none;
    margin: 0px;
}
.skills {
    border: 0;
}
/* Links */
a {
    color: #000000;
    border-bottom: 1px solid #dddddd;
    -o-transition: color 0.5s ease-out, background 0.6s ease-in;
    -ms-transition: color 0.5s ease-out, background 0.6s ease-in;
    -moz-transition: color 0.5s ease-out, background 0.6s ease-in;
    -webkit-transition: color 0.5s ease-out, background 0.6s ease-in;
    /* ...and now override with proper CSS property */

    transition: color 0.5s ease-out, background 0.6s ease-in;
}
a:hover {
    color: #333333;
    background: #F9F9F9;
    text-decoration: none;
}
footer a {
    padding: 0 ;
}
/* Typography */
h1,
h2,
h3,
h4,
h5 {
    font-family: Open Sans, Source Sans Pro, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 100%;
}
h1 {
    font-size: 40px;
    line-height: 50px;
    padding-top: 30px;
    font-weight: 700;
    font-family: Open Sans;
    text-align: center;
    letter-spacing: 1px;
}
h2 {
    font-size: 21px;
    text-align: center;
}
h3 {
    font-size: 20px ;
}
h4 {
    font-size: 16px ;
    margin-top: 0;
}
h5 {
    font-size: 12px;
}
strong {
    font-weight: 400;
}
p {
    font-size: 16px;
    margin: 0px;
}
.welcome {
    font-size: 24px;
    text-indent: 0px;
    line-height: 30px;
}
.auth {
    text-align: right;
    font-size: 16px;
}
/* Contact */
.social a {
    font-size: 20px;
    text-decoration: none;
    margin: 5px 2px;
}
.social {
    padding: 30px 0px;
    font-size: 14px;
    line-height: 23px;
}
.socual li {
    list-style: none;
}
/* Images */
img {
    margin: 15px;
    float: left;
}
/* Responsive */
@media (max-width: 800px) {
    body {
        display: block;
        padding: 0;
    }
    .container {
        margin: 0;
    }
}
@media (max-width: 600px) {
    .social {
        margin-top: 10px;
    }
    .social ul li {
        display: inline-block;
    }
    .social ul {
        margin-top: 21px;
    }
}
@media (max-width: 480px) {
    .container {
        padding: 15px ;
    }
}
@media (max-width: 320px) {
    .container {
        padding: 15px ;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 16px;
    }
    .social ul li {
        display: block;
    }
    .social ul {
        margin-top: 16px;
        padding: 0 34px;
    }
    article {
        padding: 10px 0;
    }
    .span9 {
        padding-top: 0px;
    }
}
