body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: sans-serif;
	background: linear-gradient(-45deg, #69D2E7, #A7DBD8, #E0E4CC, #F38630);
	background-size: cover !important;
	-webkit-animation: Gradient 7s ease infinite;
	-moz-animation: Gradient 7s ease infinite;
	animation: Gradient 7s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
